* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.navbar a {
    padding: 20px;
    transition: .2s;

}

.navbar a:hover {
    color: #39CDCC;
}

.btn button {
    width: 100px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    background: #39CDCC;
    border: none;
    transition: .4s;
}

.btn button:hover {
    transform: scale(1.1);
}

.get h1 {
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    color: #333333;
    padding: 30px 0;
}

.get p {
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    padding: 30px 0;
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.get-one h1 {
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    color: #333333;
    padding: 30px;
}

.get-one p {
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    padding: 30px;
}

.save {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;

}

.img-group {
    padding: 0 30px;
}

.bloc-one {
    display: block;
    width: 288px;
    height: 327px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #B7B7B7;
    border-radius: 0px;
    border-top: 10px solid blue;
}

.bloc-one img {
    padding: 42px 118px;
}

.bloc-one h1 {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px
}

.bloc-one p {
    text-align: center;
    line-height: 20px;
}

.bloc-two {
    display: block;
    width: 288px;
    height: 327px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #B7B7B7;
    border-radius: 0px;
    border-top: 10px solid orange;
}

.bloc-two img {
    padding: 42px 118px;
}

.bloc-two h1 {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px
}

.bloc-two p {
    text-align: center;
    line-height: 20px;
}

.bloc-three {
    display: block;
    width: 288px;
    height: 327px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #B7B7B7;
    border-radius: 0px;
    border-top: 10px solid #31C5A1;
}

.bloc-three img {
    padding: 42px 118px;
}

.bloc-three h1 {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px
}

.bloc-three p {
    text-align: center;
    line-height: 20px;
}

.block-group {
    display: flex;
    justify-content: space-evenly;
}

.title {
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #333333;
    padding: 30px;

}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

.circle ion-icon {
    font-size: 30px;
    color: #FFFFFF;
}
.works{
    padding-bottom: 50px;
}

#play {
    background: #31C5A1;
}
.play h1{
    text-align: center;
    padding-top: 130px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;

}

.play-img {
    display: flex;
    justify-content: center;
    padding: 40px 0;


}
.play img{
    padding: 10px;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    line-height: 30px;
}
.iro-three{
    display: flex;
    flex-direction: column;
}
.iro-four h3{
    font-weight: 400;
    font-size: 17px;
    line-height: 30px
}